<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--<add name="Connstr" connectionString="Data Source=.\SQLEXP2008R2ADV; Initial Catalog=Travelmoksh;Integrated Security = true"/>-->
    <!--<add name="MeetingMinderConnectionString" connectionString="Data Source=180.149.240.49;Initial Catalog=JMJGreen;uid=jmj_dbUser;password=jmj123!@#" providerName="System.Data.SqlClient"/>-->
    <!--<add name="RelianceConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=rel; Integrated Security = true" providerName="System.Data.SqlClient"/>-->
    <!--  <add name="RelianceConnectionString" connectionString="Data Source=180.149.240.49;Initial Catalog=BOB; uid=bob_dbUser;password=bob123!@#" providerName="System.Data.SqlClient"/>-->
    <!--<add name="RelianceConnectionString" connectionString="Data Source=180.149.240.49;Initial Catalog=Emeeting_Reliance;uid=emeeting_reliance;password=reliance123!@#" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ConnectionString" connectionString="N/k1GdtTvSnlx/cPmzReWHhegVFaTntbQGgWDv1CB9ZbzprR/HjBwiSD5Pf1ZLxY8phxf1Ieg6ymhOq1B5qOaiFiWPiCzj+1E8YtTmu1ttc="  providerName="MySql.Data.MySqlClient" />-->
    <!--<add name="ConnectionString" connectionString="kUjFVUMurxmOuCO7yI4v6+dDMSGMLnN+QyhkGlbEpmrBfrTZf90O/t9Auht0y8O6PqQsH+5tOxRDV+yLVhIem/XkR3wjeXCeQtufw3vDnvM=" providerName="Mysql.Data.MySqlClient" />-->
    <!--<add name="ConnectionString" connectionString="kUjFVUMurxmOuCO7yI4v6+dDMSGMLnN+QyhkGlbEpmrBfrTZf90O/t9Auht0y8O6iAnF5HYVmp1K31wtRSYCyvoYkiBtlZimgu7fpPp8pDXpI8R24vcgriVt1XPcP6Vi+0EZ5553anQYhwxzuzo4uw==" providerName="Mysql.Data.MySqlClient" />-->
    <add name="ConnectionString" connectionString="kUjFVUMurxmOuCO7yI4v6+dDMSGMLnN+QyhkGlbEpmrBfrTZf90O/t9Auht0y8O6PqQsH+5tOxRDV+yLVhIem0y2lxmod/RJ8/MZYlUhnvxRVYJ8G1tnEUdgPS5iEfiG" providerName="Mysql.Data.MySqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="ImagePath" value="img/Uploads/ProfilePic/"/>
    <add key="EntityLogo" value="img/Uploads/EntityLogo/"/>
    <add key="UploadMinutes" value="img/Uploads/UploadMinutes/"/>
    <add key="Agenda" value="img/Uploads/Agenda/"/>
    <add key="MembesInfo" value="img/Uploads/Forum/"/>
    <add key="KeyInfo" value="img/Uploads/KeyInfo/"/>
    <add key="PhotoGallery" value="img/Uploads/PhotoGallery/"/>
    <add key="AdDomain" value="10.0.0.6"/>
    <add key="Data_Source" value="180.149.240.49"/>
    <add key="Initial_Catalog" value="Emeeting_Reliance"/>
    <add key="uid" value="emeeting_reliance"/>
    <add key="port" value="587"/>
    <add key="password" value="xOaTj7E+VuZjcSh4zrZiCA=="/>
    <add key="Current_Url" value="https://meetingminder-web.conveyor.cloud"/>
    <add key="AdValue" value="2"/>
    <add key="AuthType" value="ad"/>
    <add key="DeviceAuthType" value="Manual"/>
    <add key="OTPSend" value="false"/>
    <add key="OTPUrl" value="http://192.168.34.12:8080/SBIReceiverHTTP/pushlistener?dcode={dcode}&amp;subuid={subuid}&amp;pwd={pwd}&amp;sender={sender}&amp;pno={pno}&amp;msgtxt= iMeeting:\n{Date} {OTP} is the OTP for login to your iMeeting application. Valid for {TimeOut} mins.\nPlease do not share with anyone.&amp;msgtype=S&amp;intflag=1"/>
    <add key="sender" value="sender"/>
    <add key="subuid" value="subuid"/>
    <add key="pwd" value="JG6TWAOiWxHMX8n5w/86eA=="/>
    <add key="dcode" value="dcode"/>
    <add key="OTPTimeOut" value="10"/>
    <add key="WebOTPSend" value="true"/>
    <add key="WebOTPUrl" value="http://192.168.34.12:8080/SBIReceiverHTTP/pushlistener?dcode={dcode}&amp;subuid={subuid}&amp;pwd={pwd}&amp;sender={sender}&amp;pno={pno}&amp;msgtxt= iMeeting:\n{Date} {OTP} is the OTP for login to your iMeeting application. Valid for {TimeOut} mins.\nPlease do not share with anyone.&amp;msgtype=S&amp;intflag=1"/>
    <add key="Websender" value="sender"/>
    <add key="Websubuid" value="subuid"/>
    <add key="Webpwd" value="JG6TWAOiWxHMX8n5w/86eA=="/>
    <add key="Webdcode" value="dcode"/>
    <add key="WebOTPTimeOut" value="2"/>
    <add key="WebIPAUrl" value="https://imeeting.sbi.co.in/updates/download.html"/>
    <add key="IntWebOTPSend" value="true"/>
    <add key="IntWebOTPUrl" value="https://10.189.39.166/SBIReceiverHTTP/pushlistener?dcode={dcode}&amp;subuid={subuid}&amp;pwd={pwd}&amp;sender={sender}&amp;pno={pno}&amp;msgtxt= iMeeting:\n{Date} {OTP} is the OTP for login to your iMeeting application. Valid for {TimeOut} mins.\nPlease do not share with anyone.&amp;msgtype=S&amp;intflag=2"/>
    <add key="IntWebsender" value="SBIBNK"/>
    <add key="IntWebsubuid" value="imeetingSp3IntOtp"/>
    <add key="IntWebpwd" value="zQn+xhsn0lLiC8PEvUoaeA=="/>
    <add key="IntWebdcode" value="GITC"/>
    <add key="IntWebOTPTimeOut" value="2"/>
    <add key="IntWebIPAUrl" value="https://imeeting.sbi.co.in/updates_nepal/download.html"/>
    <add key="NationalForgotPass" value="http://192.168.34.12:8080/SBIReceiverHTTP/pushlistener?dcode={dcode}&amp;subuid={subuid}&amp;pwd={pwd}&amp;sender={sender}&amp;pno={pno}&amp;msgtxt= Dear {FirstName},\n Your password is {Password}.\nPlease do not share with anyone.&amp;msgtype=S&amp;intflag=1"/>
    <add key="InternationalForgotPass" value="https://10.189.39.166/SBIReceiverHTTP/pushlistener?dcode={dcode}&amp;subuid={subuid}&amp;pwd={pwd}&amp;sender={sender}&amp;pno={pno}&amp;msgtxt= Dear {FirstName},\n Your password is {Password}.\nPlease do not share with anyone.&amp;msgtype=S&amp;intflag=2"/>
    <add key="PostOTPUrl" value="https://bulksmsapi.sbi.co.in:9443/bmg/sms/spthreedomotp"/>
    <add key="PostUsername" value="spthreedomotp"/>
    <add key="PostPassword" value="3KHhZIgzZ+p0Zl1RXh2/OYCPZdIWHaSs4/IjJhMYUMQ="/>
    <add key="PostContentType" value="content_type=text&amp;sender_id=SBITXT"/>
    <add key="PostMessage" value="message=iMeeting:{Date} {OTP} is the OTP for login to your iMeeting application. Valid for {TimeOut} mins.Please do not share with anyone.&amp;intflag=0&amp;charging=0"/>
    <add key="PostIntOTPUrl" value="https://bulksmsapi.sbi.co.in:9443/bmg/sms/spthreedomotp"/>
    <add key="PostIntUsername" value="spthreedomotp"/>
    <add key="PostIntPassword" value="3KHhZIgzZ+p0Zl1RXh2/OYCPZdIWHaSs4/IjJhMYUMQ="/>
    <add key="PostIntContentType" value="content_type=text&amp;sender_id=SBITXT"/>
    <add key="PostIntMessage" value="message=iMeeting:{Date} {OTP} is the OTP for login to your iMeeting application. Valid for {TimeOut} mins.Please do not share with anyone.&amp;intflag=1&amp;charging=1"/>
    <add key="PostForgotPass" value="message=Dear {FirstName}, Your password is {Password}. Please do not share with anyone.&amp;intflag=0&amp;charging=0"/>
    <add key="PostIntForgotPass" value="message=Dear {FirstName}, Your password is {Password}. Please do not share with anyone.&amp;intflag=1&amp;charging=1"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
    <httpModules>
      <add name="WSFederationAuthenticationModule" type="System.IdentityModel.Services.WSFederationAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <add name="SessionAuthenticationModule" type="System.IdentityModel.Services.SessionAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    </httpModules>
  </system.web>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="MeetingMInder.WCFServicesBehaviour" name="MeetingMInder.WCFServices.SBIService">
        <endpoint address="" binding="basicHttpBinding" name="" contract="MeetingMInder.WCFServices.ISBIService"/>
        <endpoint address="json" behaviorConfiguration="JsonBehavior" binding="webHttpBinding" contract="MeetingMInder.WCFServices.ISBIService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="JsonBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="MeetingMInder.WCFServicesBehaviour">
          <serviceDebug includeExceptionDetailInFaults="true" httpHelpPageEnabled="true" httpsHelpPageEnabled="true"/>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_UploadImage" messageEncoding="Mtom">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
      </wsHttpBinding>
      <basicHttpBinding>
        <binding receiveTimeout="00:25:00" sendTimeout="00:25:00" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" maxDepth="2147483647"/>
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </basicHttpBinding>
      <webHttpBinding>
        <binding receiveTimeout="00:25:00" sendTimeout="00:25:00" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" maxDepth="2147483647"/>
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" minFreeMemoryPercentageToActivateService="0" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <security>
      <requestFiltering allowDoubleEscaping="true"/>
    </security>
    <!--<modules runAllManagedModulesForAllRequests="true"/>-->
    <validation validateIntegratedModeConfiguration="false"/>
    <!--<modules>
      <add name="WSFederationAuthenticationModule" type="System.IdentityModel.Services.WSFederationAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="managedHandler" />
      <add name="SessionAuthenticationModule" type="System.IdentityModel.Services.SessionAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="managedHandler" />
    </modules>-->
  </system.webServer>
  <!--<configSections>
    <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <section name="system.identityModel.services" type="System.IdentityModel.Services.Configuration.SystemIdentityModelServicesSection, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />

  </configSections>-->
  <!--<system.identityModel>
    <identityConfiguration>
      <audienceUris>
        <add value="https://fs.testsso.com/adfs/Services/Trust/" />
        <add value="https://techops2-adfs3/TestClaims/" />
      </audienceUris>
      <certificateValidationcertificateValidationMode="None" />
      <issuerNameRegistrytype="System.IdentityModel.Tokens.ConfigurationBasedIssuerNameRegistry, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <trustedIssuers>
          <addthumbprint="d69cfa5db7f30dbe47b80bf616c6c3e59deaef50"name="https://fs.testsso.com/adfs/services/trust" />
        </trustedIssuers>
        </issuerNameRegistry>
        <securityTokenHandlers>
          <addtype="System.IdentityModel.Tokens.SessionSecurityTokenHandler, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <sessionTokenRequirementlifetime="00:01"/>
            </add>
          </securityTokenHandlers>
      </identityConfiguration>
  </system.identityModel>-->
  <!--<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.12.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.9.12.0" newVersion="6.9.12.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.21.0" newVersion="8.0.21.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>