<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
    <section name="system.identityModel.services" type="System.IdentityModel.Services.Configuration.SystemIdentityModelServicesSection, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
  </configSections>
  <connectionStrings>
    <!--<add name="Connstr"  connectionString="Data Source=.\SQLEXP2008R2ADV; Initial Catalog=Travelmoksh;Integrated Security = true"/>-->
    <!--<add name="RelianceConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=rel; Integrated Security = true" providerName="System.Data.SqlClient"/>-->
    <!--<add name="RelianceConnectionString" connectionString="Data Source=AT-R6P7\SQLEXPRESS;Initial Catalog=Emeeting_Reliance; Integrated Security = true" providerName="System.Data.SqlClient"/>-->
    <!--<add name="YesBankConnectionString" connectionString="FZbEHhjBx4XMLEJLVWEfCAdWpKObgNmKqKmh9Yuy11tpeQ3CsIN22p82HnauR5Xj9M2Bgy2TsSqYTboR2jTqEh2pv9pt+e9QpANXNZfyjZ7aFdYJEWGe4RpQBFnhHEyw" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ConnectionString" connectionString="32tPSnQj3XXiT9+A+DeUJMkC2wcySYoeR8LhJxpx9F3AV0M7X2Mg7H0BKvF9uMYrdf5fNfxDxrj68bqrQyT4yWyCf9uqMtJXKp9slmyZ5LFAOZd/BEgFqL2sUW7ClNHY" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ConnectionString" connectionString="N/k1GdtTvSnlx/cPmzReWHhegVFaTntbQGgWDv1CB9ZbzprR/HjBwiSD5Pf1ZLxY8phxf1Ieg6ymhOq1B5qOaiFiWPiCzj+1E8YtTmu1ttc=" providerName="MySql.Data.MySqlClient"/>-->
    <!--<add name="ConnectionString" connectionString="N/k1GdtTvSnlx/cPmzReWLHUCwa5hZoQibdyhQ/2if8ZNQBnL3WQYevSUIagItmmppZhkzwrOPF0ZwgA6wg0J3qV7nTU0sYrVZlSvgxZmMTw+GiN8lvr5ZXFy6mCd3od" providerName="MySql.Data.MySqlClient"/>-->
    <!--<add name="ConnectionString" connectionString="N/k1GdtTvSnlx/cPmzReWHhegVFaTntbQGgWDv1CB9Z7XB5LfvAhhvtrBzo0be6DSpnu1gBRKikeXb7QeiXfb5ifxfM4o73azFS3IDscPR8=" providerName="Mysql.Data.MySqlClient" />-->
    <!--<add name="ConnectionString" connectionString="kUjFVUMurxmOuCO7yI4v6+dDMSGMLnN+QyhkGlbEpmrY38Ctsyxe0sxO+tjGCgRjAig5fFmT8V9IjzlCl38Gh9yLRPIYcCQK/PQ5XF9SMyM=" providerName="Mysql.Data.MySqlClient" />-->
    <!--<add name="ConnectionString" connectionString="N/k1GdtTvSnlx/cPmzReWHhegVFaTntbQGgWDv1CB9Y7JJG9/MSa0Tl0JqymVX/4CVmf6m58WG4ahn16I+p4hPsgaN8lgug2nydn5lhzmwg=" providerName="Mysql.Data.MysqlClient"/>-->
    <!--<add name="ConnectionString"  connectionString="Jl9Ou1mZT4rzN/zUdAqZsaOgA0KWpgyfvmOKu2qjAvhQeEms8Pb/0RE3Gmb0xE5aIoKE3Ki6ltn8Kk6mT64qErsycc1wmUuw+jlAf9nLIng=" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ConnectionString" connectionString="kUjFVUMurxmOuCO7yI4v6+dDMSGMLnN+QyhkGlbEpmrBfrTZf90O/t9Auht0y8O6PqQsH+5tOxRDV+yLVhIem/XkR3wjeXCeQtufw3vDnvM=" providerName="Mysql.Data.MySqlClient" />-->
    <!--<add name="ConnectionString" connectionString="kUjFVUMurxmOuCO7yI4v6+dDMSGMLnN+QyhkGlbEpmrBfrTZf90O/t9Auht0y8O6PqQsH+5tOxRDV+yLVhIem0y2lxmod/RJ8/MZYlUhnvxRVYJ8G1tnEUdgPS5iEfiG" providerName="Mysql.Data.MySqlClient"/>-->
    <add name="ConnectionString" connectionString="kUjFVUMurxmOuCO7yI4v6+dDMSGMLnN+QyhkGlbEpmrBfrTZf90O/t9Auht0y8O6ZIfxZU2NiTZas1+K13v3JGfgQZjAiAPjs9U0sHOOyoh9J0vhikhLuMKbXj4PfjekmPB9CiaChPWAolzAwqVurA==" providerName="Mysql.Data.MySqlClient"/>
    <!--<add name="ConnectionString" connectionString="kUjFVUMurxmOuCO7yI4v65zRWcESeN2IbSLmxp9Scy6R2UPnlSimKy1PIYTNEW1WwGXsP5XgblqbAwKgQSJDzsYc+ceEcxq/w4mJOH/i7pbessdFq9KItaKy7mimwAB6v4Olr/8G63UmRjLDXrCorofuXZGgnNhFi+VYjogV1HijT/QvgYzGH5tRn62nABDS" providerName="Mysql.Data.MySqlClient"/>-->
  </connectionStrings>
  <appSettings>
    <!--<add key="Current_Url" value="http://bluestar.aspnetdevelopment.in"/>-->
    <add key="Current_Url" value="http://imeeting.sbi.co.in"/>
    <add key="ImagePath" value="img/Uploads/ProfilePic/"/>
    <add key="EntityLogo" value="img/Uploads/EntityLogo/"/>
    <add key="UploadMinutes" value="img/Uploads/UploadMinutes/"/>
    <add key="Agenda" value="img/Uploads/Agenda/"/>
    <add key="MembesInfo" value="img/Uploads/Forum/"/>
    <add key="KeyInfo" value="img/Uploads/KeyInfo/"/>
    <add key="PhotoGallery" value="img/Uploads/PhotoGallery/"/>
    <add key="Suffix" value="Mr.,Mrs.,Ms.,Dr.,Shri,Smt."/>
    <add key="AdDomain" value="LDAP://10.62.210.16"/>
    <add key="ADSPath" value="www.HDFCCHUBINDIA.COM"/>
    <add key="Sandbox" value="false"/>
    <add key="DeviceId" value="16287cad3f8e709b0909441417f59d3d0a1c8044783b4e323421af1957f8d43c"/>
    <add key="P12Pass" value="1234"/>
    <add key="P12" value="img\Push_Certificates.p12"/>
    <add key="AdValue" value="2"/>
    <add key="AuthType" value="Manual"/>
    <add key="DeviceAuthType" value="Manual"/>
    <add key="OTPUrl" value=""/>
    <add key="OTPCustomerType" value=""/>
    <add key="OTPSend" value="false"/>
    <add key="basicUsername" value="user"/>
    <add key="basicPassword" value="ac3r"/>
    <add key="WebOTPSend" value="true"/>
    <add key="WebOTPUrl" value="http://192.168.34.12:8080/SBIReceiverHTTP/pushlistener?dcode={dcode}&amp;subuid={subuid}&amp;pwd={pwd}&amp;sender={sender}&amp;pno={pno}&amp;msgtxt= iMeeting:\n{Date} {OTP} is the OTP for login to your iMeeting application. Valid for {TimeOut} mins.\nPlease do not share with anyone.&amp;msgtype=S&amp;intflag=1"/>
    <add key="Websender" value="sender"/>
    <add key="Websubuid" value="subuid"/>
    <add key="Webpwd" value="JG6TWAOiWxHMX8n5w/86eA=="/>
    <add key="Webdcode" value="dcode"/>
    <add key="WebOTPTimeOut" value="2"/>
    <add key="WebIPAUrl" value="https://imeeting.sbi.co.in/updates/download.html"/>
    <add key="IntWebOTPSend" value="true"/>
    <add key="IntWebOTPUrl" value="https://10.189.39.166/SBIReceiverHTTP/pushlistener?dcode={dcode}&amp;subuid={subuid}&amp;pwd={pwd}&amp;sender={sender}&amp;pno={pno}&amp;msgtxt= iMeeting:\n{Date} {OTP} is the OTP for login to your iMeeting application. Valid for {TimeOut} mins.\nPlease do not share with anyone.&amp;msgtype=S&amp;intflag=2"/>
    <add key="IntWebsender" value="SBIBNK"/>
    <add key="IntWebsubuid" value="imeetingSp3IntOtp"/>
    <add key="IntWebpwd" value="zQn+xhsn0lLiC8PEvUoaeA=="/>
    <add key="IntWebdcode" value="GITC"/>
    <add key="IntWebOTPTimeOut" value="2"/>
    <add key="IntWebIPAUrl" value="https://imeeting.sbi.co.in/updates_nepal/download.html"/>
    <add key="NationalForgotPass" value="http://192.168.34.12:8080/SBIReceiverHTTP/pushlistener?dcode={dcode}&amp;subuid={subuid}&amp;pwd={pwd}&amp;sender={sender}&amp;pno={pno}&amp;msgtxt= Dear {FirstName},\n Your password is {Password}.\nPlease do not share with anyone.&amp;msgtype=S&amp;intflag=1"/>
    <add key="InternationalForgotPass" value="https://10.189.39.166/SBIReceiverHTTP/pushlistener?dcode={dcode}&amp;subuid={subuid}&amp;pwd={pwd}&amp;sender={sender}&amp;pno={pno}&amp;msgtxt= Dear {FirstName},\n Your password is {Password}.\nPlease do not share with anyone.&amp;msgtype=S&amp;intflag=2"/>
    <add key="PostOTPUrl" value="https://bulksmsapi.sbi.co.in:9443/bmg/sms/spthreedomotp"/>
    <add key="PostUsername" value="spthreedomotp"/>
    <add key="PostPassword" value="3KHhZIgzZ+p0Zl1RXh2/OYCPZdIWHaSs4/IjJhMYUMQ="/>
    <add key="PostContentType" value="content_type=text&amp;sender_id=SBITXT"/>
    <add key="PostMessage" value="message=iMeeting:{Date} {OTP} is the OTP for login to your iMeeting application. Valid for {TimeOut} mins.Please do not share with anyone.&amp;intflag=0&amp;charging=0"/>
    <add key="PostIntOTPUrl" value="https://bulksmsapi.sbi.co.in:9443/bmg/sms/spthreedomotp"/>
    <add key="PostIntUsername" value="spthreedomotp"/>
    <add key="PostIntPassword" value="3KHhZIgzZ+p0Zl1RXh2/OYCPZdIWHaSs4/IjJhMYUMQ="/>
    <add key="PostIntContentType" value="content_type=text&amp;sender_id=SBITXT"/>
    <add key="PostIntMessage" value="message=iMeeting:{Date} {OTP} is the OTP for login to your iMeeting application. Valid for {TimeOut} mins.Please do not share with anyone.&amp;intflag=1&amp;charging=1"/>
    <add key="PostForgotPass" value="message=Dear {FirstName}, Your password is {Password}. Please do not share with anyone.&amp;intflag=0&amp;charging=0"/>
    <add key="PostIntForgotPass" value="message=Dear {FirstName}, Your password is {Password}. Please do not share with anyone.&amp;intflag=1&amp;charging=1"/>
    <add key="NationalIPA" value="https://imeeting.sbi.co.in/updates/download.html"/>
    <add key="NepalIPA" value="https://imeeting.sbi.co.in/updates_nepal/download.html"/>
    <add key="APNSUrl" value="http://localhost:802/api/PushNotifications"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <webServices>
      <protocols>
        <add name="HttpPost"/>
        <remove name="Documentation"/>
      </protocols>
    </webServices>
    <machineKey validationKey="894EE828B0AAEB9DF0FF05D9C02DC56FF4497FCBE247DD22A91BDFF3DC6804CE09CACADEB82673F17A025E2FBBD1FD0E2DA8B3CCA67DD693FC33B4B4A36D7262" decryptionKey="86E1A52160B9071D71BBE70C33A9685FE922AD0CA893A698BA85CE8855A8172C" validation="SHA1" decryption="AES"/>
    <!--<machineKey validationKey="649D7D92DDFEFBD0DA0C6D668D30CF7E62C7B5226FFE076E34AF95CFCD091FAF5B1F2D20E2D9B51F0ABE53D41EA040437D8B1F613E896A976E7A4F8EFD934260" decryptionKey="86E1A52160B9071D71BBE70C33A9685FE922AD0CA893A698BA85CE8855A8172C" validation="SHA1" decryption="AES"/>-->
    <!--<compilation debug="true" targetFramework="4.6" />-->
    <!--<compilation debug="true" targetFramework="4.7.2"/>-->
    <compilation debug="true" targetFramework="4.7.2" >
      <assemblies>
        <add assembly="netstandard, Version=2.0.0.0, Culture=neutral, 
            PublicKeyToken=cc7b13ffcd2ddd51"/>
      </assemblies>
    </compilation>
    <authorization>
      <!--<deny users="?"/>-->
      <allow verbs="GET" users="*"/>
      <allow verbs="POST" users="*"/>
      <deny verbs="OPTIONS" users="*"/>
      <deny verbs="TRACE" users="*"/>
    </authorization>
    <customErrors mode="Off" defaultRedirect="~/Error.aspx?ErrorCode=500" redirectMode="ResponseRewrite">
      <error statusCode="403" redirect="~/Error.aspx?ErrorCode=403"/>
      <error statusCode="404" redirect="~/Error.aspx?ErrorCode=404"/>
      <error statusCode="405" redirect="~/Error.aspx?ErrorCode=405"/>
    </customErrors>
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" timeout="20" domain="emeeting" path="emeeting" requireSSL="true" name=".iMeet"/>
    </authentication>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
    <!--encoderType="System.Web.Security.AntiXss.AntiXssEncoder,MeetingMinder.Web"-->
    <!--<httpRuntime requestValidationMode="2.0" enableVersionHeader="false" maxRequestLength="99524000" executionTimeout="600" />-->
    <httpRuntime requestValidationMode="2.0" enableVersionHeader="false" maxRequestLength="99524000" executionTimeout="600"/>
    <pages enableSessionState="true" viewStateEncryptionMode="Always" controlRenderingCompatibilityVersion="4.0"/>
    <httpCookies httpOnlyCookies="false"/>
    <!-- domain="yesbank.aspnetdevelopment.in" -->
    <sessionState sessionIDManagerType="MeetingMinder.Web.SessionManager, MeetingMinder.Web" cookieName="iMeet"/>
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="false"/>
    <httpErrors errorMode="Custom">
      <remove statusCode="403"/>
      <error statusCode="403" path="/Error.aspx?ErrorCode=403" responseMode="Redirect"/>
      <remove statusCode="404"/>
      <error statusCode="404" path="/Error.aspx?ErrorCode=404" responseMode="Redirect"/>
      <remove statusCode="500"/>
      <error statusCode="500" path="/Error.aspx?ErrorCode=500" responseMode="Redirect"/>
      <!--<remove statusCode="302" ></remove>
      <error statusCode="302" path="/Error.aspx?ErrorCode=302" responseMode="Redirect"/>-->
      <!--<error statusCode="302" path="/Error.aspx?ErrorCode=0" responseMode="Redirect"/>-->
    </httpErrors>
    <handlers>
      <add verb="*" name="asph" path="*uploads" type="MeetingMinder.Web.FileHandler, MeetingMinder.Web"/>
      <add name="CaptchaImage" verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha"/>
    </handlers>
    <!--<httpProtocol>
      <customHeaders>
        <add name="Strict-Transport-Security" value="max-age=31536000; includeSubdomains"/>
        <add name="X-Xss-Protection" value="1; mode=block"/>
        <add name="X-Content-Type-Options" value="nosniff"/>
        <remove name="X-Powered-By"/>        
        <remove name="Server"/>
        <clear/>
      </customHeaders>
    </httpProtocol>-->
    <httpProtocol>
      <customHeaders>
        <add name="Strict-Transport-Security" value="max-age=16070400; includeSubdomains"/>
        <add name="X-Xss-Protection" value="1; mode=block"/>
        <add name="X-Content-Type-Options" value="nosniff"/>
        <add name="Content-Security-Policy" value="default-src 'self';"/>
        <remove name="X-Powered-By"/>
        <remove name="Server"/>
        <clear/>
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering allowDoubleEscaping="true"/>
    </security>
    <!--<httpProtocol>
    <customHeaders>
      <remove name="X-Powerded-By"/>
      <remove name="server"/>
    </customHeaders>
  </httpProtocol>-->
    <rewrite>
      <outboundRules rewriteBeforeCache="true">
        <rule name="Remove Server header">
          <match serverVariable="RESPONSE_Server" pattern=".+"/>
          <action type="Rewrite" value=""/>
        </rule>
      </outboundRules>
    </rewrite>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="WSFederationAuthenticationModule" type="System.IdentityModel.Services.WSFederationAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="managedHandler"/>
      <add name="SessionAuthenticationModule" type="System.IdentityModel.Services.SessionAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="managedHandler"/>
    </modules>
  </system.webServer>
  <system.identityModel>
    <identityConfiguration>
      <audienceUris>
        <add value="https://fs.testsso.com/adfs/Services/Trust/"/>
        <add value="https://techops2-adfs3/TestClaims/"/>
      </audienceUris>
      <certificateValidation certificateValidationMode="None"/>
      <issuerNameRegistry type="System.IdentityModel.Tokens.ConfigurationBasedIssuerNameRegistry, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <trustedIssuers>
          <add thumbprint="d69cfa5db7f30dbe47b80bf616c6c3e59deaef50" name="https://fs.testsso.com/adfs/services/trust"/>
        </trustedIssuers>
      </issuerNameRegistry>
      <securityTokenHandlers>
        <add type="System.IdentityModel.Tokens.SessionSecurityTokenHandler, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
          <sessionTokenRequirement lifetime="00:01"/>
        </add>
      </securityTokenHandlers>
    </identityConfiguration>
  </system.identityModel>
  <system.identityModel.services>
    <federationConfiguration>
      <cookieHandler requireSsl="true"/>
      <wsFederation passiveRedirectEnabled="true" issuer="https://fs.testsso.com/adfs/ls/" realm="https://techops2-adfs3/TestClaims" reply="https://techops2-adfs3/TestClaims/default.aspx" requireHttps="true"/>
    </federationConfiguration>
  </system.identityModel.services>
  <!--<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.21.0" newVersion="8.0.21.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient"/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=8.0.21.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </DbProviderFactories>
  </system.data>-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.21.0" newVersion="8.0.21.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>